/* You can add global styles to this file, and also import other style files */

html,
body,
.content {
    min-height: 100vh;
}

.mouse-hover {
    cursor: pointer;
}

.btn-light-gray {
    background-color: #d3d3d3c9;
    border-color: #d3d3d3c9;
}