<header>
    <nav class="navbar navbar-expand bg-dark py-2">
        <div class="container">
            <a href="" class="navbar-brand text-white fw-bold">PC Component Shop</a>
            <ul class="navbar-nav d-flex flex-grow-1 justify-content-end gap-5">
                <li class="nav-item" *ngIf="!userService.isLoggedIn">
                    <a routerLink="../login" class="nav-link text-white">Sign In</a>
                </li>
                <li class="nav-item" *ngIf="userService.isLoggedIn">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-dark border-0" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            <span class="ms-2">{{ currentUserFirstName }}</span>
                        </button>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item bg-dark text-white mouse-hover" routerLink="profile">Profile</a>
                            </li>
                            <li><a (click)="signOut()" class="dropdown-item bg-dark text-white mouse-hover">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a *ngIf="userService.isLoggedIn" routerLink="cart" class="nav-link text-white">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>
<footer class="footer mt-auto">
    <div class="text-center text-white bg-dark py-2">
        PC Component Shop, Fedja Vujicic 2024.
    </div>
</footer>