<header>
    <nav class="navbar navbar-expand bg-dark py-2">
        <div class="container">
            <a href="" class="navbar-brand text-white fw-bold">PC Component Shop</a>
            <ul class="navbar-nav d-flex flex-grow-1 justify-content-end gap-5">
                <li class="nav-item">
                    <a routerLink="../login" class="nav-link text-white">Login</a>
                </li>
                <li class="nav-item">
                    <a (click)="signOut()" class="nav-link text-white mouse-hover">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-white">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>
<footer class="footer mt-auto">
    <div class="text-center text-white bg-dark py-2">
        PC Component Shop, Fedja Vujicic 2024.
    </div>
</footer>