<form (submit)="onSubmit()" ngNativeValidate>
    <div class="mb-2">
        <label for="name" class="form-label">Name</label>
        <input type="text" placeholder="Name" class="form-control" [(ngModel)]="monitorService.currentMonitor.name"
            name="name" autocomplete="off" required>
    </div>
    <div class="mb-2">
        <label for="size" class="form-label">Size</label>
        <input type="text" placeholder="Size(inches)" class="form-control"
            [(ngModel)]="monitorService.currentMonitor.size" name="size" autocomplete="off" required>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <label for="width" class="form-label">Width</label>
            <input type="text" placeholder="Width(px)" class="form-control"
                [(ngModel)]="monitorService.currentMonitor.width" name="width" autocomplete="off" required>
        </div>
        <div class="col-6">
            <label for="height" class="form-label">Height</label>
            <input type="text" placeholder="Height(px)" class="form-control"
                [(ngModel)]="monitorService.currentMonitor.height" name="height" autocomplete="off" required>
        </div>
    </div>
    <div class="mb-2">
        <label for="refreshRate" class="form-label">Refresh Rate</label>
        <input type="text" placeholder="Refresh Rate(Hz)" class="form-control"
            [(ngModel)]="monitorService.currentMonitor.refreshRate" name="refreshRate" autocomplete="off" required>
    </div>
    <div class="mb-2">
        <label for="price" class="form-label">Price</label>
        <input type="text" placeholder="Price" class="form-control" [(ngModel)]="monitorService.currentMonitor.price"
            name="price" autocomplete="off" required>
    </div>
    <div class="mb-2">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="text" placeholder="Quantity" class="form-control"
            [(ngModel)]="monitorService.currentMonitor.quantity" name="quantity" autocomplete="off" required>
    </div>
    <div class="mb-2 d-flex">
        <div class="d-flex flex-column me-5">
            <label for="formFile" class="form-label">Image Upload</label>
            <input class="form-control" type="file" (change)="onFileUpload($event)" name="image">
        </div>
    </div>
    <div class="mb-2">
        <button type="submit" class="btn btn-success w-100">Submit</button>
    </div>

</form>