<div class="row justify-content-center my-5">
    <div class="col-10">
        <div *ngIf="isFormVisible && userService.isAdminLoggedIn()">
            <app-gpus-form></app-gpus-form>
            <div class="mb-3">
                <button type="button" class="btn btn-light-gray w-100" (click)="hideForm()">Cancel</button>
            </div>
        </div>
        <div class="d-flex mb-2 justify-content-end">
            <div class="mb-3 flex-grow-1" *ngIf="!isFormVisible && userService.isAdminLoggedIn()">
                <button type="button" class="btn btn-success fw-bold" (click)="showForm()">+ Add Item</button>
            </div>
            <div class="d-flex align-items-center">
                <span style="min-width: 180px">Display results per page:</span>
                <select style="max-width: 200px" class="form-select">
                    <option (click)="setPageSize(3)">3</option>
                    <option (click)="setPageSize(5)" selected>5</option>
                    <option (click)="setPageSize(7)">7</option>
                    <option (click)="setPageSize(10)">10</option>
                </select>
            </div>
        </div>
        <div class="d-flex">
            <app-gpus-search></app-gpus-search>
            <div class="flex-grow-1 ms-1">
                <div class="mb-2 d-flex align-items-center">
                    <input type="text" placeholder="Search..." class="form-control me-2 flex-grow-1"
                        [(ngModel)]="gpuService.searchName">
                    <button type="submit" class="btn btn-success" (click)="gpuService.getGpus()">Search</button>
                    <span style="min-width: 60px" class="mx-2">Sort by:</span>
                    <select style="max-width: 200px" class="form-select">
                        <option (click)="sortByPriceAscending()">Price Ascending</option>
                        <option (click)="sortByPriceDescending()">Price Descending</option>
                    </select>
                </div>
                <ul class="list-group mb-2 flex-grow-1">
                    <li class="d-flex list-group-item mb-2 border rounded-3 mouse-hover"
                        *ngFor="let gpu of gpuService.gpuList">
                        <div class="d-flex flex-grow-1" (click)="fillForm(gpu.id)">
                            <div class="mx-2">
                                <img style="width: 120px; height: 120px;" [src]="gpuService.getImageSrc(gpu.imageFile)"
                                    alt="">
                            </div>
                            <div class="flex-grow-1">
                                <div class="fw-bold fs-5">{{ gpu.name }}</div>
                                <div>Slot: {{ gpu.slot }}</div>
                                <div>Memory: {{ gpu.memory }}</div>
                                <div class="d-flex">
                                    <div>Ports: </div>
                                    <ul class="list-group" *ngFor="let port of gpu.ports">
                                        <li class="py-0 border-0 list-group-item">{{port}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-end">
                                <div class="fw-bold fs-5 my-2">{{ gpu.price }}€</div>
                                <div class="text-success" *ngIf="gpu.availability">In Stock</div>
                                <div class="text-danger" *ngIf="!gpu.availability">Out of Stock</div>
                                <button class=" btn btn-light-gray my-2">Add to cart</button>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-center ms-4"
                            *ngIf="userService.isAdminLoggedIn()">
                            <div class="fa-solid fa-trash-can fa-2x mouse-hover" (click)="gpuService.deleteGpu(gpu.id)">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <ng-container *ngIf="gpuService.totalGpus > 0">
            <div class="d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-circle-arrow-left mouse-hover" (click)="pagePrev()"
                    *ngIf="gpuService.currentPage > 1"></i>
                <div class="ms-2">{{gpuService.currentPage}}/</div>
                <div class="me-2">{{gpuService.lastPage}}</div>
                <i class="fa-solid fa-circle-arrow-right mouse-hover" (click)="pageNext()"
                    *ngIf="gpuService.currentPage < gpuService.lastPage"></i>
            </div>
        </ng-container>
    </div>
</div>