<form (submit)="onSubmit()" ngNativeValidate>
    <div class="mb-2">
        <label for="name" class="form-label">Name</label>
        <input type="text" placeholder="Name" class="form-control" [(ngModel)]="gpuService.currentGpu.name" name="name"
            autocomplete="off" required>
    </div>
    <div class="mb-2">
        <label for="price" class="form-label">Price</label>
        <input type="text" placeholder="Price" class="form-control" [(ngModel)]="gpuService.currentGpu.price"
            name="price" autocomplete="off" required>
    </div>
    <div class="mb-2">
        <label for="name" class="form-label">Slot</label>
        <input type="text" placeholder="Slot" class="form-control" [(ngModel)]="gpuService.currentGpu.slot" name="slot"
            autocomplete="off" required>
    </div>
    <div class="mb-2">
        <label for="memory" class="form-label">Memory</label>
        <input type="text" placeholder="Memory" class="form-control" [(ngModel)]="gpuService.currentGpu.memory"
            name="memory" autocomplete="off" required>
    </div>

    <div class="mb-2">
        <label for="memory" class="form-label">Ports</label>
        <div class="mb-1 d-flex" *ngFor="let port of gpuService.currentGpu.ports">
            <input class="form-control me-1" type="text" disabled placeholder="{{ port }}">
            <button (click)="removePort(port)" type="button" style="width:2.5rem"
                class="btn btn-success fw-bold">-</button>
        </div>

        <div class="d-flex">
            <input type="text" placeholder="Port" class="form-control me-1" autocomplete="off" [(ngModel)]="currentPort"
                name="port">
            <button (click)="addPort()" type="button" style="width:2.5rem" class="btn btn-success fw-bold">+</button>
        </div>
        <div *ngIf="noPorts" class="text-danger">Please add at least one port</div>
    </div>
    <div class="mb-2">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="text" placeholder="Quantity" class="form-control" [(ngModel)]="gpuService.currentGpu.quantity"
            name="quantity" autocomplete="off" required>
    </div>
    <div class="mb-2 d-flex">
        <div class="d-flex flex-column me-5">
            <label for="formFile" class="form-label">Image Upload</label>
            <input class="form-control" type="file" (change)="onFileUpload($event)" name="image">
        </div>
    </div>
    <div class="mb-2">
        <button type="submit" class="btn btn-success w-100">Submit</button>
    </div>

</form>