<div class="row d-flex justify-content-center my-1">
    <div routerLink="monitors" class="card mouse-hover col-4 mx-1" style="width: 15rem;">
        <img src="assets/monitor.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center fs-5">Monitors</p>
        </div>
    </div>
    <div routerLink="gpus" class="card mouse-hover col-4 mx-1" style="width: 15rem;">
        <img src="assets/gpu.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center fs-5">Graphics Cards</p>
        </div>
    </div>
    <div class="card mouse-hover col-4 mx-1" style="width: 15rem;">
        <img src="assets/cpu.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center fs-5">Processors</p>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center my-1">
    <div class="card mouse-hover col-4 mx-1" style="width: 15rem;">
        <img src="assets/motherboard.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center fs-5">Motherboards</p>
        </div>
    </div>
    <div class="card mouse-hover col-4 mx-1" style="width: 15rem;">
        <img src="assets/keyboard.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center fs-5">Keyboards</p>
        </div>
    </div>
    <div class="card mouse-hover col-4 mx-1" style="width: 15rem;">
        <img src="assets/mouse.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center fs-5">Mice</p>
        </div>
    </div>
</div>