<div class="row d-flex justify-content-center my-1">
    <div routerLink="monitors" class="card mouse-hover col-4 mx-1" style="width: 20rem;">
        <img src="assets/monitor.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center fs-4">Monitors</p>
        </div>
    </div>
    <div routerLink="gpus" class="card mouse-hover col-4 mx-1" style="width: 20rem;">
        <img src="assets/gpu.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center fs-4">Graphics Cards</p>
        </div>
    </div>
</div>