<div class="row justify-content-center">
    <div class="col-3 py-5 bg-dark-subtle rounded-3">
        <form (submit)="onSubmit()">
            <div class="mb-3">
                <input type="text" placeholder="Username" class="form-control" autocomplete="off" required
                    [(ngModel)]="formEmail" name="username">
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Password" class="form-control" autocomplete="off" required
                    [(ngModel)]="formPassword" name="password">
            </div>
            <button class="btn btn-success w-100 mb-3" type="submit">Sign in</button>
            <div class="text-danger mb-2" *ngIf="loginFailed">Incorrect username or password</div>
            <span>Don't have an account?
                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    routerLink="../register">
                    Register
                </a>
            </span>
        </form>
    </div>
</div>